%h3 What?
%p
  MongoFlow is a community driven MongoDB links site. Items are not added automatically, but chosen and summarized by the community, resulting in a higher quality of links than
  %a{ :href => 'http://mongodb.reddit.com/' }
    social bookmarking sites.
%h3 How?
%p
  Enjoy the links, comment or
  %a{ :href => '/items/new' }
    make a post
  of your own. You don't need to be signed in!
%p
  %em
    Note: If you're not signed in, your byline is unlinked and your links are made "nofollow" to prevent spam. You also get CAPTCHAed!

%h3 Who?
%p
  MongoFlow was built by
  %a{ :href => 'http://twitter.com/mongoflow' }
    @brainscott, @ajsharp & @theriffer
  , but is ultimately a community site for MongoDB and everything related.
%p
  %small
    This site is influenced by
    %a{ :href => 'http://www.rubyflow.com/' }
      RubyFlow
    I thank
    %a{ :href => 'http://www.twitter.com/peterc'}
      Peter Cooper
    for suppling the codebase via Github.
%p
  Follow
  %a{ :href => 'http://www.twitter.com/mongoflow' }
    MongoFlow
  on Twitter!
%p
  %a{ :href => 'http://feeds.feedburner.com/Mongoflow' }
    %img{ :src => 'http://feeds.feedburner.com/mongoflow?bg=cc0000&amp;fg=FFFFFF&amp;anim=0', :height => '26', :width => '88', :style => 'border:0', :alt => '' }
